@use './mixins' as m;

body {
  @include m.fluid-text(16, 14);

  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-text-primary);
  background: var(--background-main-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-base), sans-serif;
  font-weight: 700;
}

h1, .h1 {
  @include m.fluid-text(56, 36);
}

h2, .h2 {
  @include m.fluid-text(40, 32);
}

h3, .h3 {
  @include m.fluid-text(30, 24);
}

h4, .h4 {
  @include m.fluid-text(20, 16);
}