@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-title {
    display: flex;
    flex-direction: column;

    &--name {
      font-size: 24px;
      margin-left: 108px;
      color: var(--text-color-primary)
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--text-color-secondary);

    &-inner-wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;

      @include media.tablet {
        width: 70%;
      }

      @include media.mobile {
        width: 85%;
      }

      &__text {
        width: 100%;
        line-height: 1.5;
        min-width: 252px;
        text-indent: 2em;
      }
    }
  }

  &-image-wrapper {
    &--me {
      position: absolute;
      top: 20%;
      left: -1%;
      z-index: -1;
      max-width: 432px;
      height: auto;
      overflow: hidden;

      @include media.tablet {
        left: -5%;
        max-width: 260px;
      }

      @include media.mobile {
        opacity: 0.5;
      }

    }
    &--exp {
      display: flex;
      position: relative;
      justify-content: flex-end;  /* прижать к правому краю острова */
      margin: 24px 0 0 0;
      right: -5%;

      @include media.desktop {
        top: 6%;
        right: -5%;
        //max-width: 260px;
      }
    }
  }


}
