@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.island-about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-title {
    display: flex;
    flex-direction: column;

    &--name {
      font-size: 24px;
      margin-left: 96px;
      color: var(--text-color-primary)
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--text-color-secondary);

    &-advantages {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        text-indent: 2em;
      }

    }

    &-inner-wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;

      @include media.tablet {
        width: 70%;
      }

      @include media.mobile {
        width: 85%;
      }

      &__text {
        width: 100%;
        line-height: 1.5;
        min-width: 252px;
        text-indent: 2em;
      }
    }

  }

  &-image-wrapper {
    &--me {
      position: absolute;
      top: 20%;
      left: -1%;
      z-index: -1;
      max-width: 432px;
      height: auto;
      overflow: hidden;
      opacity: 0.7;

      @include media.tablet {
        left: -5%;
        max-width: 260px;
      }

      @include media.mobile {
        opacity: 0.5;
      }

    }
    &--trainer {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 110%;
      z-index: -1;
      overflow: hidden;
      opacity: 0.7;
      pointer-events: none;

      @include media.mobile {
        opacity: 0.5;
      }

      img {
        height: 100%;
        width: auto;
        max-height: none;
        max-width: none;
      }

    }

    &--exp {
      &-start {
        display: flex;
        position: relative;
        justify-content: flex-end;  /* прижать к правому краю острова */
        right: -5%;
        margin: 24px 0 0 0;

        @include media.tablet {
          top: 6%;
          right: -10%;
        }
      }
      &-end {
        display: flex;
        position: relative;
        left: -5%;
        margin: 24px 0 0 0;

        @include media.tablet {
          left: -9%;
        }
      }

    }

    &--bullets {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 32px;
      gap: 24px;

    }
  }


}
