@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.island-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    color: var(--text-color-secondary);

    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      &-links__list {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 24px;

        &--item {
          display: flex;
          flex-direction: column;
          gap: 4px;

          dt {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.5px;

            @include media.tablet {
              font-size: 12px;
            }
          }

          dd {
            font-size: 20px;

            @include media.desktop {
              font-size: 16px;
            }
          }

          a {
            text-decoration: underline;
            text-decoration-thickness: 0.02em;
            text-underline-offset: 0.2em;
          }
        }
      }
    }

  }
}