@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.island-corporate-advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

    &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--text-color-secondary);

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 2rem;

            &__block {
                

                p {
                    text-indent: 2em;
                }

                &--up {
                    p {
                        margin-bottom: 1rem;
                    }
                }
                &--down {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: fit-content;
                    margin: 0 auto;

                    li {
                        display: flex;
                        gap: 1rem;
                        margin-bottom: 1rem;
                        p {
                            text-indent: 0;
                        }   
                    }

                }
            }

        }
    }
}

.island-corporate-consulting {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.island-form-corporate-content__image-wrapper {
    position: absolute;
    right: 20%;
    z-index: -1;
    opacity: 0.1;

    @include media.tablet {
        opacity: 0;
    }
}