.background-wrapper{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;     /* корректная видимая высота на мобилках */
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.element-bg {
  position: absolute;
  pointer-events: none;

  &__background-img {
    inset: 0;
    z-index: -2;
    background: url("../element/bg.svg") no-repeat center;
    background-size: cover;
  }

  &__background-hex-bg {
    inset: 0;
    z-index: -1;
    background: url("../element/hex-bg.svg") no-repeat center;
    background-size: contain;

  }

  &__background-polygon-orange-bg {
    inset: 0;
    z-index: -1;
    background: url("../element/polygon-orange-bg.svg") no-repeat center;
    background-size: contain;

  }

  &__background-hex-grey-bg {
    inset: 0;
    z-index: -1;
    background: url("../element/hex-grey-bg.svg") no-repeat center;
    background-size: contain;

  }

}