@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.island {
  padding: var(--island-padding-x-large);
  background: var(--background-island-primary-gradient);
  border-radius: var(--border-radius-island-large);
  box-shadow: var(--shadow-island-inner-large);
  backdrop-filter: var(--blur-bg-island-large);
  overflow: hidden;

  @include media.tablet {
    border-radius: var(--border-radius-island-medium);
  }

  @include media.mobile-s {
    padding: var(--island-padding-x-small);
    border-radius: var(--border-radius-island-small)
  }
}

.island-main {
  @include m.flex-center;
  flex-direction: column;
  text-align: center;
  height: auto;
  gap: 24px;
  padding-top: 100px;

  &__logo-icon-image {
    width: 100%;
    max-width: 256px;
    height: auto;
    filter: drop-shadow(0 0 36px var(--color-accent-orange)); // мягкое свечение

    @include media.tablet {
      max-width: 192px;
    }

    @include media.mobile {
      max-width: 164px;
    }
  }

  &__brand-name {
    @include m.fluid-text(120, 48);

    font-family: var(--font-family-sub);
    font-weight: 900;
    line-height: 1.1;
    font-variant: small-caps;
    background: var(--color-accent-main-gradient-90);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  &__subtitle {
    @include m.fluid-text(40, 20);

    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 8px;
    font-family: var(--font-family-sub);
    font-weight: 900;
    line-height: 1.1;

    &-line--top {
      background: var(--color-accent-main-gradient-180);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    &-line--bottom {
      background: var(--color-white-accent-main-gradient-360);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__cta {
    @include m.fluid-text(72, 38);

    margin-top: 90px;
    margin-bottom: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color-primary);
    }
}

.island-main-exercise {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

&__header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

  &__description-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__description {
    font-size: 20px;
    text-align: left;
    color: var(--text-color-primary);

    @include media.mobile {
      width: 80%;
    }

    @include media.mobile-s {
      width: 90%;
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
  }
}

.island-main-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;

  &__header-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    gap: 32px;

    @include media.desktop {
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    font-size: 20px;
    text-align: left;
    max-width: 50%;
    color: var(--text-color-primary);

    @include media.desktop {
      max-width: 85%;
    }

  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    &-body {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 20px;

      @include media.desktop {
        align-items: center;
      }
    }
  }
}


// Ниже пока не использовали

.island-about-mini {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__image-wrapper {
    position: absolute;
    top: 5%;
    right: 70%;
    z-index: -1;

    width: 305px;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @include media.desktop {
      top: 5%;
      right: 68%;
    }

    @include media.mobile {
      top: 15%;
      right: 65%;
    }

    @include media.mobile-s {
      top: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include media.mobile {
      gap: 4px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    color: var(--text-color-primary);

    &--accent {
      font-size: 24px;
      font-weight: 700;
      width: 70%;

      @include media.mobile {
        width: 70%;
      }

      @include media.mobile-s {
        width: 95%;
        font-size: 20px;
      }
    }

    &--content {
      width: 65%;

      @include media.mobile {
        width: 65%;
      }

      @include media.mobile-s {
        width: 70%;
        font-size: 14px;
      }
    }
  }
}



.island-blog-mini {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;

  &__header-wrapper {
    display: flex;
    justify-content: space-between;

    @include media.mobile-s {
      flex-direction: column-reverse;
      gap: 16px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 64px;

    @include media.desktop {
      gap: 24px;
    }

    @include media.tablet {
      gap: 16px;
    }

    @include media.mobile-s {
      gap: 12px;
    }
  }

}


