@use '../tokens/media' as media;


.island {
  padding: var(--island-padding-x-large);
  background: var(--background-island-primary-gradient);
  border-radius: var(--border-radius-island-large);
  box-shadow: var(--shadow-island-inner-large);
  backdrop-filter: var(--blur-bg-island-large);
  overflow: hidden;

  @include media.tablet {
    border-radius: var(--border-radius-island-medium);
  }

  @include media.mobile-s {
    padding: var(--island-padding-x-small);
    border-radius: var(--border-radius-island-small)
  }
}

// Ниже пока не использовали
//.island-blog-mini {
//  display: flex;
//  flex-direction: column;
//  gap: 16px;
//  overflow: hidden;
//
//  &__header-wrapper {
//    display: flex;
//    justify-content: space-between;
//
//    @include media.mobile-s {
//      flex-direction: column-reverse;
//      gap: 16px;
//    }
//  }
//
//  &__content {
//    display: flex;
//    justify-content: center;
//    gap: 64px;
//
//    @include media.desktop {
//      gap: 24px;
//    }
//
//    @include media.tablet {
//      gap: 16px;
//    }
//
//    @include media.mobile-s {
//      gap: 12px;
//    }
//  }
//
//}


