@use '../tokens/media' as media;
@use '../tokens/mixins' as m;

.island-training-advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-color-secondary);

    &-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 1rem;

      &__block {
        max-width: 50%;

        p {
          text-indent: 2em;
        }

        &--left {
          p {
            margin-bottom: 0.2rem;
          }
        }
        &--right {
          p {
            display: list-item;
            list-style: disc outside;
            text-indent: 0.5em;

            @include media.tablet {
              margin-bottom: 0;
              margin-left: 2rem;
            }
          }
          strong {
            font-weight: 900;
          }
        }

        @include media.tablet {
          max-width: 100%;
        }
      }

      @include media.tablet {
        flex-direction: column;

      }
    }
  }
}

.island-training-consulting {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.training-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:2rem;

}

.island-training-card {
  flex: 1 1 calc(50% - 1rem);   /* каждая карточка стремится занять половину строки */
  min-width: 360px;             /* но не ужимается уже 360px */
  color: var(--text-color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image-wrapper {
    position: absolute;
    bottom: 0;
    right: -10%;
    z-index: -1;
    opacity: 0.3;
  }

  &__content-up {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--bullets {
      margin-top: 2rem;
      li {
        display: flex;
        gap: 1rem;
        margin-bottom: 0.5rem;
      }
    }

  }

  &__content-low {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    font-size: x-large;
    gap: 1rem;

    &--price {
      justify-content: center;
    }
  }
}

@media (max-width: 760px) {
  .training-list {
    flex-direction: column;     /* карточки идут столбиком */
  }

  .island-training-card {
    flex: 1 1 auto;
    min-width: 0;
    width: 100%;                /* каждая растягивается на всю ширину контейнера */
  }
}

