<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__logo-copyright-wrapper">
      <a class="footer__logo logo" href="index.html">
        <img
                class="logo__image"
                src="../../static/icons/logo__icon.svg"
                alt="NoMondays"
                width="194" height="32" loading="lazy"
        />
      </a>
      <div class="footer__copyright">
        <p class="copyright">© 2025 Все права защищены</p>
      </div>
    </div>
    <div class="footer__info">
      <p class="footer__info__city">г. Москва</p>
      <p class="footer__info__tel">+7-985-345-10-00</p>
    </div>
    <div class="footer__policy-block hidden-tablet">
      <div class="footer__policy-block__wrapper">
        <a href="#">Правила возврата и оплаты</a>
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Условия использования</a>
        <a href="#">Политика Cookie</a>
        <a href="#">Отказ от ответственности</a>
      </div>
    </div>
    <div class="footer__right-side-wrapper">
      <div class="footer__social-links">
        <a class="social-links social-links__telegram" href="https://t.me/NoMondaysRUN">
          <img
                  class="icon__telegram"
                  src="../../static/icons/telegram-icon.svg"
                  alt="Telegram icon"
                  width="24" height="24" loading="lazy"
          />
        </a>
        <a class="social-links social-links__vkontakte" href="/">
          <img
                  class="icon__vkontakte"
                  src="../../static/icons/vk-icon.svg"
                  alt="VKontakte icon"
                  width="24" height="24" loading="lazy"
          />
        </a>
        <a class="social-links social-links__instagram" href="/">
          <img
                  class="icon__instagram"
                  src="../../static/icons/instagram-icon.svg"
                  alt="Instagram icon"
                  width="24" height="24" loading="lazy"
          />
        </a>
      </div>
      <a href="#" class="hidden-tablet-above">Политика и условия</a>
    </div>
  </div>
</footer>