<div class="contact__form">
    <form class="contact__form-body">
        <div class="contact__field field">
            <input
                    class="field__input"
                    id="name"
                    name="name"
                    placeholder="Ваше имя"
            />
            <label for="phone" class="field__label">Укажите Имя</label>
        </div>
        <div class="contact__field field">
            <input
                    class="field__input"
                    id="phone"
                    name="phone"
                    placeholder="+7(___)___-__-__"
                    type="tel"
                    required
            />
            <label for="phone" class="field__label">Номер Телефона</label>
        </div>
        <button type="submit" class="field__button button">Отправить</button>
    </form>
</div>