<dialog class="mobile-overlay visible-mobile" id="mobileMenu">
    <form class="mobile-overlay__close-button-wrapper" method="dialog">
        <button
                class="mobile-overlay__close-button cross-button"
                type="submit"
        >
            <span class="visually-hidden">Закрыть меню</span>
        </button>
    </form>
    <div class="mobile-overlay__body">
        <ul class="mobile-overlay__list">

            <li class="mobile-overlay__item">
                <a class="mobile-overlay__link {% if request.resolver_match.view_name == 'core:home' %}is-active{% endif %}"
                   href="{% url 'core:home' %}">
                    Главная
                </a>
            </li>

            <li class="mobile-overlay__item">
                <a class="mobile-overlay__link {% if request.resolver_match.view_name == 'core:trainings:list' %}is-active{% endif %}"
                   href="{% url 'trainings:list' %}">
                    Тренировки
                </a>
            </li>

            <li class="mobile-overlay__item">
                <a class="mobile-overlay__link {% if request.resolver_match.view_name == 'core:corporate' %}is-active{% endif %}"
                   href="{% url 'core:corporate' %}">
                    Корпоративы
                </a>
            </li>

            <li class="mobile-overlay__item">
                <a class="mobile-overlay__link {% if request.resolver_match.view_name == 'core:about' %}is-active{% endif %}"
                   href="{% url 'core:about' %}">
                    Про Меня
                </a>
            </li>

            <li class="mobile-overlay__item">
                <a class="mobile-overlay__link {% if request.resolver_match.view_name == 'core:contacts' %}is-active{% endif %}"
                   href="{% url 'core:contacts' %}">
                    Контакты
                </a>
            </li>

        </ul>
    </div>
</dialog>