<article class="island island-training-card">
  <div class="island-training-card__image-wrapper">
    <img
            src="../../static/img/training/{{ card.img }}"
            alt="Андрей Кузнецов"
            width="432"
            height="786"
            loading="lazy"
    />
  </div>
  <div class="island-training-card__content-up">
    <div class="island-training-card__content-up--title">
      <h3 class="island-training-card__title title">{{ card.title }}</h3>
      {% if card.subtitle %}
      <p class="island-training-card__description title">{{ card.subtitle }}</p>
      {% endif %}
    </div>

    {% if card.bullets %}
    <ul class="island-training-card__content-up--bullets">
      {% for b in card.bullets %}<li> <img
            class="island-about-mini__title-arrow"
            src="../../../static/icons/green-check.svg"
            alt="check"
            width="20"
            height="20"
            loading="lazy"
    /> {{ b }}</li>{% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="island-training-card__content-low">
    <div class="title island-training-card__content-low--price ">
      ₽ {{ card.price }} / {{ card.duration_min }} мин
    </div>
    <a class="button island-training-card__cta" href="{% url 'trainings:page' slug=card.slug %}">
    Подробнее
  </a>
  </div>
</article>