<div class="island island-training-advantages">
    <div class="island-training-advantages-content">
        <h1 class="title">Занятия</h1>
        <h2 class="title">Тренировки, которые подходят каждому</h2>
        <div class="island-training-advantages-content-wrapper">
            <div class="island-training-advantages-content-wrapper__block--left">
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
            </div>
            <div class="island-training-advantages-content-wrapper__block--right">
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
            </div>
        </div>
    </div>
</div>