<div class="island island-training-consulting">
    <h2 class="title-island-main-page">Консультация</h2>
    <div class="island-training-consulting-content">
        <div class="island-training-consulting-content__form">
            <h3 class="island-training-consulting-content__form--title">Оставте заявку</h3>
            {% include 'partials/form.html' %}
        </div>
        <div class="island-training-consulting-content__description">
            <p>
                Оставьте свои контактные данные, и я свяжусь с вами, чтобы ответить на вопросы и подобрать оптимальный формат занятий.
            </p>
            <h3 class="island-training-consulting-content__description--title">Онлайн-консультация</h3>
            <div class="island-training-consulting-content__description--bullet">
                <p>Личный разбор вопросов по бегу: техника, экипировка, питание, подготовка.</p>
                <h4 class="title-sub-island-page">
                    <img
                            class="island-about-mini__title-arrow"
                            src="../../../static/icons/green-check.svg"
                            alt="chrck"
                            width="20"
                            height="20"
                            loading="lazy"
                    />
                    Бесплатная первая консультация
                </h4>
            </div>
        </div>
    </div>

</div>