<div class="island island-training-advantages">
    <div class="island-training-advantages-content">
        <h1 class="title">Занятия</h1>
        <h3 class="title">Тренировки, которые подходят каждому</h3>
        <div class="island-training-advantages-content-wrapper">
            <div class="island-training-advantages-content-wrapper__block island-training-advantages-content-wrapper__block--left">
                <p>
                    Неважно, новичок ты или опытный бегун — программа всегда подстраивается под твои цели, уровень подготовки и ритм жизни.
                </p>
                <p>
                    Можете заниматься очно или онлайн, в удобное для себя время и формате.
                </p>
                <p>
                    Весь процесс проходит с поддержкой тренера, который поможет с техникой, нагрузками и восстановлением.
                </p>
                <p>
                    Ты не один на этом пути — всегда есть обратная связь и корректировки.
                    Выбери подходящий формат и начни тренироваться эффективно!
                </p>
            </div>
            <div class="island-training-advantages-content-wrapper__block island-training-advantages-content-wrapper__block--right">
                <p>
                    <strong>Любой уровень подготовки</strong> – тренировки адаптируются под твои цели и физическую форму.
                </p>
                <p>
                    <strong>Гибкость</strong> – занятия в удобное время и формате (очно / онлайн).
                </p>
                <p>
                    <strong>Поддержка тренера</strong> – ты не один, всегда есть обратная связь.
                </p>
            </div>
        </div>
    </div>
</div>