{% extends 'base.html' %}
{% block title %}NoMondays - Про меня{% endblock %}
{% block meta_description %}Короткое описание страницы (120–160 символов).{% endblock %}
{% block og_title %}NoMondays - Про меня{% endblock %}
{% block og_description %}Короткое описание страницы (120–160 символов).{% endblock %}

{% block content %}
<section class="section container">
  {% include 'partials/island/island-about-advantages.html' %}
</section>
<section class="section container">
  {% include 'partials/island/island-about-me.html' %}
</section>
<section class="section container">
  {% include 'partials/island/island-about-experience.html' %}
</section>
{% endblock %}
