{% extends 'base.html' %}
{% block title %}NoMondays - Корпоративные Тренировки{% endblock %}
{% block meta_description %}Короткое описание страницы (120–160 символов).{% endblock %}
{% block og_title %}NoMondays - Корпоративные Тренировки{% endblock %}
{% block og_description %}Короткое описание страницы (120–160 символов).{% endblock %}

{% block content %}
<section class="section container">
    {% include 'partials/island/island-corporate-advantages.html' %}
</section>
<section class="section container">
    {% include 'partials/island/island-corporate-consulting.html' %}
</section>
<section class="section container">
    {% include 'components/trainings_list.html' with items=items %}
</section>
{% endblock %}