{% extends 'base.html' %}
{% block title %}NoMondays - Главная{% endblock %}
{% block meta_description %}Короткое описание страницы (120–160 символов).{% endblock %}
{% block og_title %}NoMondays - Главная{% endblock %}
{% block og_description %}Короткое описание страницы (120–160 символов).{% endblock %}

{% block content %}
<section class="section container">
  {% include 'partials/island/island-main.html' %}
</section>
<section class="section container">
  {% include 'partials/island/island-main-exercise.html' %}
</section>
<section class="section container">
  {% include 'partials/island/island-main-contact.html' %}
</section>
{% endblock %}
