<!--<div class="island about-section">-->
<!--        <div class="about-section__content">-->
<!--            <h2 class="about-section__title title">Про меня</h2>-->
<!--            <h3 class="about-section__title about-section__title&#45;&#45;name">Андрей Кузнецов.</h3>-->

<!--            <div>-->
<!--                <p class="about-section__intro&#45;&#45;me">-->
<!--                    <strong>Бег</strong> — это больше, чем спорт. Это путь к силе, дисциплине и внутреннему балансу. Я здесь, чтобы помочь вам сделать его частью жизни.-->
<!--                </p>-->
<!--                <div class="about-section__text">-->
<!--                    <p class="about-section__text&#45;&#45;up">-->
<!--                        Четверть века назад я открыл для себя бег, движимый азартом, любопытством и желанием испытать границы своих возможностей. Со временем я начал делиться своими знаниями с такими же увлечёнными бегунами, но понимал: чтобы помогать по-настоящему, мне нужно больше, чем личный опыт.-->
<!--                    </p>-->
<!--                    <p class="about-section__text&#45;&#45;down">-->
<!--                        Так начался мой путь к профессионализму. Я прошел долгий процесс обучения, углубился в теорию и практику, чтобы не просто давать советы, а вести людей к результатам. Сегодня я готов помочь вам раскрыть ваш потенциал и сделать бег источником энергии, развития и новых побед.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="about-section-timeline hidden-desktop">-->
<!--                <div class="about-section-timeline__line">-->
<!--                    <span class="about-section-timeline__tick" style="left: 9%">2015 г.</span>-->
<!--                    <span class="about-section-timeline__tick" style="left: 43%">2017 г.</span>-->
<!--                    <span class="about-section-timeline__tick" style="left: 73%">2018 г.</span>-->
<!--                </div>-->

<!--                <div class="about-section-timeline__events">-->
<!--                    <div class="about-section-timeline__event">-->
<!--                        <p>• Adidas Coach League</p>-->
<!--                        <p>Тренер по бегу</p>-->
<!--                    </div>-->
<!--                    <div class="about-section-timeline__event">-->
<!--                        <p>• Adidas Academy</p>-->
<!--                        <p>Преподаватель основ физиологии и<br>спорта для начинающих атлетов</p>-->
<!--                    </div>-->
<!--                    <div class="about-section-timeline__event">-->
<!--                        <p>• Fitness Pro Association, FPA</p>-->
<!--                        <p>Персональный тренер</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="about-section__image-wrapper&#45;&#45;me">-->
<!--            <img-->
<!--                    src="assets/images/about/about-me-image.png"-->
<!--                    alt="Андрей Кузнецов"-->
<!--                    width="432"-->
<!--                    height="786"-->
<!--                    loading="lazy"-->
<!--            />-->
<!--        </div>-->
<!--    </div>-->
