<div class="island island-main-contact">
    <div class="island-main-contact__header-wrapper">
        <a href="{% url 'core:contacts' %}" class="title-link-island-main-page
                        island-main-contact__header-wrapper--top">
            <h2 class="title-island-main-page">
                Контакты
                <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/arrow-outward.svg"
                        alt="Arrow"
                        width="24"
                        height="24"
                        loading="lazy"
                />
            </h2>
        </a>
    </div>
    {% include 'partials/form.html' %}
</div>