<div class="island about-section"> <!--Весь остров начанка вертикально расположена-->

    <div class="about-section-title-wrapper">
        <h2 class="about-section-title-wrapper--main title">Про меня</h2> <!--Тайтл блока прикреплен к левой стороне-->
        <h3 class="about-section-title-wrapper--name">Андрей Кузнецов.</h3> <!--Тайтл блока информации-->
    </div>

    <div class="about-section__content"> <!--Основной контент расположение гориизонтальное-->
        <div class="about-section__content-wrapper">
            <div class="about-section__image-wrapper--me">
                <img
                        src="../../static/img/about/photo.png"
                        alt="Андрей Кузнецов"
                        width="432"
                        height="786"
                        loading="lazy"
                />
            </div> <!--Фото тренера должно быть привязано к левому краю с небольшим нахлестом-->
            <div class="about-section__text-wrapper">
                <p class="about-section__intro--me">
                    <strong>Бег</strong> — это больше, чем спорт. Это путь к силе, дисциплине и внутреннему балансу. Я здесь, чтобы помочь вам сделать его частью жизни.
                </p>
                <p class="about-section__text--up">
                    Четверть века назад я открыл для себя бег, движимый азартом, любопытством и желанием испытать границы своих возможностей. Со временем я начал делиться своими знаниями с такими же увлечёнными бегунами, но понимал: чтобы помогать по-настоящему, мне нужно больше, чем личный опыт.
                </p>
                <p class="about-section__text--down">
                    Так начался мой путь к профессионализму. Я прошел долгий процесс обучения, углубился в теорию и практику, чтобы не просто давать советы, а вести людей к результатам. Сегодня я готов помочь вам раскрыть ваш потенциал и сделать бег источником энергии, развития и новых побед.
                </p>
            </div>
        </div>
        <div> <!--Блок с основной информацией-->

            <div class="about-section__text">
            </div>


            <div class="island-main-about__image-wrapper--me">
                <img
                        src="../../../static/img/about/exp_line_start_white.png"
                        alt="Тренер NoMondays"
                        class="island-main-about__image"
                        width="305"
                        height="433"
                        loading="lazy"
                />
            </div>
        </div>


    </div>

    </div>
