<div class="island island-about">
    <div class="island-about-content">
        <h1 class="title">Почему выбирают меня?</h1>
        <div class="island-about-content-advantages">
            <div class="island-about-content-advantages-block">
                <h3 class="island-about-title--name">Мобильность</h3>
                <p>
                    Тут что-то типа я такой классный и все такое
                </p>
            </div>
            <div class="island-about-content-advantages-block">
                <h3 class="island-about-title--name">Профессионализм</h3>
                <p>
                    Тут что-то типа Вы ничего не найдете лучше, чем я по цене и качеству тренировок
                </p>
            </div>
            <div class="island-about-content-advantages-block">
                <h3 class=island-about-title--name>Здоровье</h3>
                <p>
                    Тут почему нужно заниматься именно со мной
                </p>
            </div>
        </div>
    </div>
</div>