<div class="island about-section">
    <div class="about-section__content">
        <h1 class="title">Почему выбирают меня?</h1>
        <div class="about-section__advantages">
            <div class="about-section__advantages-text">
                <h3 class="about-section__advantages-text--title">Мобильность</h3>
                <p class="about-section__advantages-text--description">
                    Тут что-то типа я такой классный и все такое
                </p>
            </div>
            <div class="about-section__advantages-text">
                <h3 class="about-section__advantages-text--title">Профессионализм</h3>
                <p class="about-section__advantages-text--description">
                    Тут что-то типа Вы ничего не найдете лучше, чем я по цене и качеству тренировок
                </p>
            </div>
            <div class="about-section__advantages-text">
                <h3 class="about-section__advantages-text--title">Здоровье</h3>
                <p class="about-section__advantages-text--description">
                    Тут почему нужно заниматься именно со мной
                </p>
            </div>
        </div>
    </div>
</div>