<div class="island island-contact">
  <div class="island-contact-image-wrapper">
    <img
            src="../../static/img/contact/map.png"
            alt="Карта Москвы"
            loading="lazy"
    />
  </div>

  <div class="island-contact-content">
    <h1 class="title">Контакты</h1>

    <div class="island-contact-content-info">
      <div class="island-contact-content-info-links">
        <h2 class="island-contact-content-info-links__title">Информация</h2>

        <dl class="island-contact-content-info-links__list">
          <div class="island-contact-content-info-links__list--item">
            <dt>Локация</dt>
            <dd>Москва</dd>
          </div>
          <div class="island-contact-content-info-links__list--item ">
            <dt>Телефон</dt>
            <dd><a href="tel:+79853451000">+7-985-345-10-00</a></dd>
          </div>
          <div class="island-contact-content-info-links__list--item ">
            <dt>Почта</dt>
            <dd>
              <a href="mailto:79853451000@ya.ru">79853451000@ya.ru</a>
            </dd>
          </div>
          <div class="island-contact-content-info-links__list--item ">
            <dt>Телеграм Канал</dt>
            <dd>
              <a href="https://t.me/NoMondaysRUN" target="_blank" rel="noopener noreferrer">Бег с NoMondays 🧡🏃‍♂️🏃‍♀️</a>
            </dd>
          </div>
          <div class="island-contact-content-info-links__list--item ">
            <dt>Инстаграм</dt>
            <dd>
              <a href="https://www.instagram.com/kuznetsov_run/" target="_blank" rel="noopener noreferrer">kuznetsov_run</a>
            </dd>
          </div>
          <div class="island-contact-content-info-links__list--item ">
            <dt>ВКонтакте</dt>
            <dd>
              <a href="https://vk.com/id944566" target="_blank" rel="noopener noreferrer">Andrey Kuznetsov</a>
            </dd>
          </div>
        </dl>
      </div>

      <div class="island-contact-content-info-form">
        <h2 class="island-contact-content-info-form__title">Напиши нам</h2>

        <form class="island-contact-content-info-form__body">
          <div class="island-contact-content-info-form__field field">
            <input
                    class="field__input"
                    id="name"
                    name="name"
                    placeholder="Ваше имя"
            />
            <label for="phone" class="field__label">Укажите Имя</label>
          </div>
          <div class="island-contact-content-info-form__field field">
            <input
                    class="field__input"
                    id="phone"
                    name="phone"
                    placeholder="+7(___)___-__-__"
                    type="tel"
                    required
            />
            <label for="phone" class="field__label">Номер Телефона</label>
          </div>
          <div class="island-contact-content-info-form__field field">
                          <textarea
                                  class="field__input field__input--message"
                                  id="message"
                                  name="message"
                                  placeholder="Сообщение"
                                  rows="6"
                          ></textarea>
            <label for="message" class="field__label">Сообщение</label>
          </div>
          <button type="submit" class="field__button button">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
