<div class="island island-main-exercise">
    <div class="island-main-exercise__header-wrapper">
        <a href="{% url 'trainings:list' %}" class="title-link-island-main-page
                        island-main-exercise__header-wrapper--top">
            <h3 class="title-island-main-page">
                Занятия
                <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/arrow-outward.svg"
                        alt="Arrow"
                        width="24"
                        height="24"
                        loading="lazy"
                />
            </h3>
        </a>
        <div class="island-main-exercise__description-wrapper">
            <p class="island-main-exercise__description">
                Каждый человек уникален, поэтому тренировки должны быть адаптированы под
                индивидуальные потребности и уровень подготовки.
            </p>
        </div>
    </div>
    <div class="island-main-exercise__list">
        <a href="#" class="exercise-card">
            <div class="exercise-card__image-wrapper">
                <img
                        src="../../../static/img/main/individual-exercise.png"
                        alt="Тренер смотрит за учиником"
                        class="exercise-card__image"
                        width="252"
                        height="244"
                        loading="lazy"
                />
            </div>
            <p class="exercise-card__title">Персональная тренировка</p>
        </a>
        <a href="#" class="exercise-card">
            <div class="exercise-card__image-wrapper">
                <img
                        src="../../../static/img/main/corporate-exercise.png"
                        alt="Тренер бежит с группой учеников"
                        class="exercise-card__image"
                        width="252"
                        height="244"
                        loading="lazy"
                />
            </div>
            <p class="exercise-card__title">Корпоративные тренировки</p>
        </a>
        <a href="#" class="exercise-card">
            <div class="exercise-card__image-wrapper">
                <img
                        src="../../../static/img/main/mini-groupe.png"
                        alt="Тренер составляет план занятий"
                        class="exercise-card__image"
                        width="252"
                        height="244"
                        loading="lazy"
                />
            </div>
            <p class="exercise-card__title">Мини группы</p>
        </a>
        <a href="#" class="exercise-card">
            <div class="exercise-card__image-wrapper">
                <img
                        src="../../../static/img/main/online-exercise.png"
                        alt="Тренер составляет план занятий"
                        class="exercise-card__image"
                        width="252"
                        height="244"
                        loading="lazy"
                />
            </div>
            <p class="exercise-card__title">Онлайн-сопровождение</p>
        </a>
    </div>
</div>

