<div class="island about-section"> <!--Весь остров начанка вертикально расположена-->

    <div class="about-section-title">
        <h2 class="about-section-title--main title">Про меня</h2> <!--Тайтл блока прикреплен к левой стороне-->
        <h3 class="about-section-title--name">Андрей Кузнецов.</h3> <!--Тайтл блока информации-->
    </div>

    <div class="about-section-content"> <!--Основной контент расположение гориизонтальное-->
            <div class="about-section-image-wrapper--me">
                <img
                        src="../../static/img/about/photo.png"
                        alt="Андрей Кузнецов"
                        width="432"
                        height="786"
                        loading="lazy"
                />
            </div> <!--Фото тренера должно быть привязано к левому краю с небольшим нахлестом-->
            <div class="about-section-content-inner-wrapper">
                <div class="about-section-content-inner-wrapper__text">
                    <p>
                        <strong>Бег</strong> — это больше, чем спорт. Это путь к силе, дисциплине и внутреннему балансу. Я здесь, чтобы помочь вам сделать его частью жизни.
                    </p>
                    <p>
                        Четверть века назад я открыл для себя бег, движимый азартом, любопытством и желанием испытать границы своих возможностей. Со временем я начал делиться своими знаниями с такими же увлечёнными бегунами, но понимал: чтобы помогать по-настоящему, мне нужно больше, чем личный опыт.
                    </p>
                    <p>
                        Так начался мой путь к профессионализму. Я прошел долгий процесс обучения, углубился в теорию и практику, чтобы не просто давать советы, а вести людей к результатам. Сегодня я готов помочь вам раскрыть ваш потенциал и сделать бег источником энергии, развития и новых побед.
                    </p>
                </div>
                <div class="about-section-image-wrapper--exp">
                    <img
                            src="../../../static/img/about/exp_line_start_white.png"
                            alt="Тренер NoMondays"
                            class="island-main-about__image"
                            width="664"
                            height="159"
                            loading="lazy"
                    />
                </div>
            </div>
    </div>
</div>