
<div class="island island-main">
    <div class="island-main__logo-icon">
        <img
                class="island-main__logo-icon-image"
                src="../../static/icons/logo.svg"
                alt="NoMondays"
                width="416"
                height="373"
                loading="lazy"
        />
    </div>
    <div class="island-main__brand">
        <p class="island-main__brand-name">NoMondays</p>
    </div>
    <div class="island-main__subtitle">
        <p class="island-main__subtitle-line--top">ШКОЛА БЕГА</p>
        <p class="island-main__subtitle-line--bottom">НАЧНИ СЕГОДНЯ</p>
    </div>
    <div class="island-main__cta">ЗАНИМАТЬСЯ</div>
</div>