<div class="island island-corporate-advantages">
    <div class="island-corporate-advantages-content">
        <h1 class="title">Корпоративные программы</h1>
        <h3 class="title">Тренирую не только индивидуально — но и целыми компаниями</h3>
        <div class="island-corporate-advantages-content-wrapper">
            <div class="island-corporate-advantages-content-wrapper__block island-corporate-advantages-content-wrapper__block--up">
                <p>
                    Это отдельное направление, которое я развиваю последние несколько лет.
                </p>
                <p>
                    На таких занятиях сотрудники компании не просто улучшают физическую форму, они становятся сплочённее, учатся ловить общую волну, единый темп и получают тот заряд, который переносится дальше в рабочую атмосферу.
                </p>
            </div>
            <ul class="island-corporate-advantages-content-wrapper__block island-corporate-advantages-content-wrapper__block--down">
                <li> 
                    <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/green-check.svg"
                        alt="check"
                        width="20"
                        height="20"
                        loading="lazy"/> 
                    <p> Системный подход — от адаптации до роста. </p>

                </li>
                <li> 
                    <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/green-check.svg"
                        alt="check"
                        width="20"
                        height="20"
                        loading="lazy"/> 
                    <p> Гибкий формат — провожу занятия в парках, рядом с офисами и на выезде. </p>

                </li>
                <li> 
                    <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/green-check.svg"
                        alt="check"
                        width="20"
                        height="20"
                        loading="lazy"/> 
                    <p> Внимание к каждому — даже в группе никто не остаётся без поддержки </p>

                </li>
            </ul>
        </div>
    </div>
</div>