<div class="island island-main-contact">
    <div class="island-main-contact__header-wrapper">
        <a href="{% url 'core:contacts' %}" class="title-link-island-main-page
                        island-main-contact__header-wrapper--top">
            <h2 class="title-island-main-page">
                Контакты
                <img
                        class="island-about-mini__title-arrow"
                        src="../../../static/icons/arrow-outward.svg"
                        alt="Arrow"
                        width="24"
                        height="24"
                        loading="lazy"
                />
            </h2>
        </a>
    </div>
    <div class="island-main-contact__content">
        <div class="island-main-contact__description">
            <p>
            Оставьте свои контактные данные, и я свяжусь с вами, чтобы ответить на вопросы и подобрать оптимальный формат занятий.
            </p>
            <h3 class="highlight-text">Онлайн-консультация</h3>
            <div class="island-main-contact__description--bullet">
                <p>Личный разбор вопросов по бегу: техника, экипировка, питание, подготовка.</p>
                <h4 class="title-sub-island-page">
                    <img
                            class="island-about-mini__title-arrow"
                            src="../../../static/icons/green-check.svg"
                            alt="chrck"
                            width="20"
                            height="20"
                            loading="lazy"
                    />
                    Бесплатная первая консультация
                </h4>
            </div>
        </div>
        {% include 'partials/form.html' %}
    </div>
</div>