<div class="island about-section">

    <div class="about-section-title">
        <h2 class="about-section-title--main title">Опыт</h2>
    </div>

    <div class="about-section-content">
        <div class="about-section-content-advantages">
            <div class="about-section-content-inner-wrapper">
                <div class="about-section-content-inner-wrapper__text">
                    <p class="about-section__intro--exp">
                        <strong>Личный опыт</strong> — это основа эффективного тренерства.
                    </p>
                    <p class="about-section__text--up-exp">
                        Пройдя сотни километров, я изучил стратегии подготовки, восстановления и психологии преодоления дистанций. Этот путь помогает мне понимать спортсменов и выстраивать тренировки, ведущие к результату.
                    </p>
                    <p class="about-section__intro--exp">
                        <strong>Принимал участие:</strong>
                    </p>
                    <div class="about-section__text--down-exp">
                        <p>• Множество полумарафонов (21.1 км);</p>
                        <p>• 12 международных марафонов (42.2 км) в Москве, Берлине, Амстердаме, Риге, Роттердаме и других городах.</p>
                        <p>• Ультра Трейл Golden Ring (105 км.)</p>
                    </div>
                </div>
                <div class="about-section-image-wrapper--exp-end">
                    <img
                            src="../../../static/img/about/exp_line_end_white.png"
                            alt="Тренер NoMondays"
                            class="island-main-about__image"
                            width="749"
                            height="156"
                            loading="lazy"
                    />
                </div>
            </div>
            <div class="about-section-image-wrapper--bullets">
                <div class="about-section-image-wrapper--bullets-1percent">
                    <img
                            src="../../static/img/about/1percent.png"
                            alt="Андрей Кузнецов"
                            width="192"
                            height="222"
                            loading="lazy"
                    />
                </div>
                <div class="about-section-image-wrapper--bullets-10year">
                    <img
                            src="../../static/img/about/10_year.png"
                            alt="Андрей Кузнецов"
                            width="192"
                            height="222"
                            loading="lazy"
                    />
                </div>
                <div class="about-section-image-wrapper--bullets-25year">
                    <img
                            src="../../static/img/about/25_year.png"
                            alt="Андрей Кузнецов"
                            width="192"
                            height="222"
                            loading="lazy"
                    />
                </div>
            </div>
        </div>


        <div class="about-section-image-wrapper--trainer">
            <img
                    src="../../static/img/about/trainer.png"
                    alt="Фото тренера со спины"
                    width="385"
                    height="760"
                    loading="lazy"
            />
        </div>
    </div>




<!--    <div class="about-section__content">-->

<!--        <div>-->
<!--            <p class="about-section__intro&#45;&#45;exp">-->
<!--                <strong>Личный опыт</strong> — это основа эффективного тренерства.-->
<!--            </p>-->
<!--            <p class="about-section__text&#45;&#45;up-exp">-->
<!--                Пройдя сотни километров, я изучил стратегии подготовки, восстановления и психологии преодоления дистанций. Этот путь помогает мне понимать спортсменов и выстраивать тренировки, ведущие к результату.-->
<!--            </p>-->
<!--            <p class="about-section__intro&#45;&#45;exp">-->
<!--                <strong>Принимал участие:</strong>-->
<!--            </p>-->
<!--            <div class="about-section__text&#45;&#45;down-exp">-->
<!--                <p>• Множество полумарафонов (21.1 км);</p>-->
<!--                <p>• 12 международных марафонов (42.2 км) в Москве, Берлине, Амстердаме, Риге, Роттердаме и других городах.</p>-->
<!--                <p>• Ультра Трейл Golden Ring (105 км.)</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="about-section-timeline-exp hidden-desktop">-->
<!--            <div class="about-section-timeline-exp__line">-->
<!--                <span class="about-section-timeline-exp__tick" style="left: 17%">2019 г.</span>-->
<!--                <span class="about-section-timeline-exp__tick" style="left: 50%">2021 г.</span>-->
<!--                <span class="about-section-timeline-exp__tick" style="left: 85%">2022 г.</span>-->
<!--            </div>-->

<!--            <div class="about-section-timeline-exp__events">-->
<!--                <div class="about-section-timeline-exp__event">-->
<!--                    <p>• Школа тренеров I love Supersport</p>-->
<!--                    <p>Тренер по бегу</p>-->
<!--                </div>-->
<!--                <div class="about-section-timeline-exp__event">-->
<!--                    <p>• Adidas Academy</p>-->
<!--                    <p>Тренер по бегу</p>-->
<!--                </div>-->
<!--                <div class="about-section-timeline-exp__event">-->
<!--                    <a class="about-section__logo logo" href="index.html">-->
<!--                        <img-->
<!--                                class="logo__image"-->
<!--                                src="assets/images/icon/logo.svg"-->
<!--                                alt="NoMondays"-->
<!--                                width="194" height="32" loading="lazy"-->
<!--                        />-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="about-section__image-wrapper&#45;&#45;exp">-->
<!--        <img-->
<!--                src="assets/images/about/about-trainer-image.png"-->
<!--                alt="Тренер стоит спиной"-->
<!--                width="749"-->
<!--                height="156"-->
<!--                loading="lazy"-->
<!--        />-->
<!--    </div>-->
</div>